<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <style>

        /* 메인테이블 스타일 */
        table {
            width: 100%;
            border-collapse: collapse;
        }


        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .margin {
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 20px;
        }

        .center {
            text-align: center;
        }

        /* 스크롤 이용 시 첫번째 셀 고정 */
        .sticky{
            background-color: lightgray;
            position: sticky;
            top: 0px;
            white-space: nowrap;
        }

        /* 전체 선택 버튼 */
        .checkButton {
            position: fixed;
            top: 220px; /* 버튼의 상단 위치 조정 */
            left: 10px; /* 버튼의 오른쪽 위치 조정 */
            width: 70px;
            height: 25px;
        }

        .logoutButton {
            position: fixed;
            top: 5px; /* 버튼의 상단 위치 조정 */
            right: 5px; /* 버튼의 오른쪽 위치 조정 */
        }


    </style>
</head>
<body>

<!--    로그아웃버튼-->
<button id="logoutButton" type="button" class="logoutButton">로그아웃</button>

<h2 class="center">급여명세서 관리</h2>
<!--년, 월, 이름, 사번을 정보를 조회하는 폼-->
<div style="float: left;" class="margin">
    <h3>조회할 정보를 입력해주세요.</h3>
    <form method="GET" action="/adminSalary">
        <select id="year" th:name="year" th:value="${request != null ? request.year : ''}">
            <option value="9999" th:selected="${request != null and #strings.toString(request.year) == '9999'}">전체</option>
            <option value="2010" th:selected="${request != null and #strings.toString(request.year) == '2010'}">2010</option>
            <option value="2011" th:selected="${request != null and #strings.toString(request.year) == '2011'}">2011</option>
            <option value="2012" th:selected="${request != null and #strings.toString(request.year) == '2012'}">2012</option>
            <option value="2013" th:selected="${request != null and #strings.toString(request.year) == '2013'}">2013</option>
            <option value="2014" th:selected="${request != null and #strings.toString(request.year) == '2014'}">2014</option>
            <option value="2015" th:selected="${request != null and #strings.toString(request.year) == '2015'}">2015</option>
            <option value="2016" th:selected="${request != null and #strings.toString(request.year) == '2016'}">2016</option>
            <option value="2017" th:selected="${request != null and #strings.toString(request.year) == '2017'}">2017</option>
            <option value="2018" th:selected="${request != null and #strings.toString(request.year) == '2018'}">2018</option>
            <option value="2019" th:selected="${request != null and #strings.toString(request.year) == '2019'}">2019</option>
            <option value="2020" th:selected="${request != null and #strings.toString(request.year) == '2020'}">2020</option>
            <option value="2021" th:selected="${request != null and #strings.toString(request.year) == '2021'}">2021</option>
            <option value="2022" th:selected="${request != null and #strings.toString(request.year) == '2022'}">2022</option>
            <option value="2023" th:selected="${request != null and #strings.toString(request.year) == '2023'}">2023</option>
        </select> <span>년</span>
        <select id="month" th:name="month" th:value="${request != null ? request.month : ''}">
            <option value="0" th:selected="${request != null and #strings.toString(request.month) == '0'}">전체</option>
            <option value="1" th:selected="${request != null and #strings.toString(request.month) == '1'}">1</option>
            <option value="2" th:selected="${request != null and #strings.toString(request.month) == '2'}">2</option>
            <option value="3" th:selected="${request != null and #strings.toString(request.month) == '3'}">3</option>
            <option value="4" th:selected="${request != null and #strings.toString(request.month) == '4'}">4</option>
            <option value="5" th:selected="${request != null and #strings.toString(request.month) == '5'}">5</option>
            <option value="6" th:selected="${request != null and #strings.toString(request.month) == '6'}">6</option>
            <option value="7" th:selected="${request != null and #strings.toString(request.month) == '7'}">7</option>
            <option value="8" th:selected="${request != null and #strings.toString(request.month) == '8'}">8</option>
            <option value="9" th:selected="${request != null and #strings.toString(request.month) == '9'}">9</option>
            <option value="10" th:selected="${request != null and #strings.toString(request.month) == '10'}">10</option>
            <option value="11" th:selected="${request != null and #strings.toString(request.month) == '11'}">11</option>
            <option value="12" th:selected="${request != null and #strings.toString(request.month) == '12'}">12</option>
        </select> <span>월</span>

        <h5>이름 : <input id="name" name="name" size="10" th:value="${request != null ? request.name : ''}">
            사번 : <input id="employeeID" name="employeeID" size="10" th:value="${request != null ? request.employeeID : ''}">
            <span style="padding-left:20px;"><button id="searchButton">조회</button></span></h5>
        <div th:if="${searchErrors}" class="error"></div>
    </form>
</div>

<!--파일 업로드 하는 폼-->
<div style="float:right" class="margin">
    <h3>급여 정보 엑셀 파일을 업로드 해주세요.</h3>

    <div id="error" th:if="${errors}" class="error"></div>
    <!-- 파일 업로드 -->
    <form method="POST" action="/adminSalary" enctype="multipart/form-data">
        <input type="file" id="file" name="file" accept=".xls, .xlsx, .xlsm">
        <input type="submit" id="submitButton" value="Upload">
    </form>
</div>

<form method="POST" action="/adminDeleteSalary">

    <div style="width: 100%; height: 600px; overflow: auto" class="center">


        <table>
            <!--        전체 선택 버튼-->
            <button id="checkAllButton" type="button" class="checkButton" style="width: 70px; height: 25px;">전체선택</button>

            <thead>
            <tr>
                <th class="sticky" >선택</th>
                <th class="sticky">사번</th>
                <th class="sticky">근무자 이름</th>
                <th class="sticky">년도</th>
                <th class="sticky">월</th>
                <th class="sticky">생일</th>
                <th class="sticky">기본수당</th>
                <th class="sticky">주휴수당</th>
                <th class="sticky">중식비 - 지급</th>
                <th class="sticky">주휴수당(첫째주)</th>
                <th class="sticky">주휴수당(소급분)</th>
                <th class="sticky">지급합계</th>
                <th class="sticky">소득세</th>
                <th class="sticky">주민세</th>
                <th class="sticky">고용보험</th>
                <th class="sticky">국민연금</th>
                <th class="sticky">건강보험</th>
                <th class="sticky">노인요양</th>
                <th class="sticky">고용보험(소급공제)</th>
                <th class="sticky">국민연금(소급공제)</th>
                <th class="sticky">건강보험(소급공제)</th>
                <th class="sticky">노인요양(소급공제)</th>
                <th class="sticky">공제합계</th>
                <th class="sticky">실지급액</th>
                <th class="sticky">총 근로일수</th>
                <th class="sticky">총근무시간</th>
                <th class="sticky">주휴산정시간</th>
                <th class="sticky">주휴산정시간(소급분)</th>
                <th class="sticky">시급</th>
                <th class="sticky">중식비</th>
                <th class="sticky">이메일주소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="response : ${adminSalaryRespons}">

                <td><input type="checkbox" id="salaryKeys" name="salaryKeys" th:value="${response.EmployeeID + '_' + response.year + '_' + response.month}"></td>
                <td th:text="${response.EmployeeID}"></td>
                <td th:text="${response.Name}"></td>
                <td th:text="${response.year}"></td>
                <td th:text="${response.month}"></td>
                <td th:text="${response.birthday.substring(0,4) + '.' + response.birthday.substring(4,6) + '.' + response.birthday.substring(6)}"></td>
                <td th:text="${#numbers.formatInteger(response.BasicSalary, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.HolidayAllowance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.LunchExpenses, 3, 'COMMA')}"></td>

                <td th:text="${#numbers.formatInteger(response.FirstWeekHolidayAllowance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.RetroactiveHolidayAllowance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.TotalPayment, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.IncomeTax, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.ResidentTax, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.EmploymentInsurance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.NationalPension, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.HealthInsurance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.ElderlyCareInsurance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.EmploymentInsuranceDeduction, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.NationalPensionDeduction, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.HealthInsuranceDeduction, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.ElderlyCareInsuranceDeduction, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.DeductionTotal, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.NetPayment, 3, 'COMMA')}"></td>

                <td th:text="${response.TotalWorkDays}"></td>
                <td th:text="${response.TotalWorkingHours}"></td>
                <td th:text="${response.HolidayCalculationHours}"></td>
                <td th:text="${response.OvertimeCalculationHours}"></td>
                <td th:text="${#numbers.formatInteger(response.HourlyWage, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.LunchAllowance, 3, 'COMMA')}"></td>
                <td th:text="${response.EmailAddress}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--    삭제 버튼-->
    <button id="deleteButton" type="submit" style="width: 200px; height: 40px; float: left">삭제</button>

    <!--    회원 관리 페이지로 이동하는 버튼-->
    <button id="toAdminUserForm" type="button" style="width: 200px; height: 40px; float: right">회원 관리 페이지로 이동</button>

</form>

</body>

<script th:inline="javascript">

    // 조회 에러 시 alert창 경고 띄우기
    var searchError = /*[[${searchErrors}]]*/ null;

    if (searchError) {
        var errorMessage = "employeeID: " + searchError.employeeID;
        alert(errorMessage);
    }

    // 파일 업로드 에러 시 새 창 띄우기
    var uploadErrors = /*[[${errors}]]*/ null;

    if (uploadErrors && uploadErrors.length > 0) {
        var errorMessages = uploadErrors.join('\n');
        var errorWindow = window.open("", "ErrorWindow", "width=600,height=400");
        errorWindow.document.write("<html><head><title>에러 메시지</title>");
        errorWindow.document.write("<style>.error { color: red; }</style>"); // 스타일 정의 추가
        errorWindow.document.write("</head><body>");
        errorWindow.document.write("<h3 class='error'>파일 업로드 에러</h3>");
        errorWindow.document.write("<pre>" + errorMessages + "</pre>");
        errorWindow.document.write("</body></html>");

        // 자식 창 로드 후 부모 창 조회 버튼 자동 클릭
        document.getElementById("searchButton").click();

    }

    document.getElementById("deleteButton").addEventListener("click", clickButton);

    // 삭제 버튼 클릭시 실행되는 메서드
    function clickButton(event) {

        var checkboxes = document.getElementsByName("salaryKeys");
        var count = 0;

        // 반복문을 돌며 checkboxes에서 선택된 항목이 있는지 체크
        for (var i = 0; i < checkboxes.length; i++) {
            if(checkboxes[i].checked) {
                count++;
            }
        }

        // 선택된 항목이 하나도 없다면
        if(count == 0) {
            alert("삭제할 항목을 선택해주세요.");
            event.preventDefault();
            return false;
        }

        // 선택된 항목이 하나 이상이면
        else {
            if (confirm("삭제하시겠습니까?")) {
                alert("삭제되었습니다");
            } else {
                // 폼 제출을 막아 삭제되지 않도록
                alert("취소되었습니다");
                event.preventDefault();
                return false;
            }
        }
    }

    document.getElementById("checkAllButton").addEventListener("click", checkAllButton);

    // 전체 선택 버튼 클릭시 실행되는 메서드
    var isAllChecked = false; // 전체 선택 상태를 추적하는 변수

    function checkAllButton() {
        // 체크박스를 가져옵니다.
        var checkboxes = document.getElementsByName("salaryKeys");

        // 상태를 반전시키고 모든 체크박스에 적용합니다.
        isAllChecked = !isAllChecked;
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = isAllChecked;
        }

        // 버튼의 텍스트를 변경합니다.
        this.textContent = isAllChecked ? "전체해제" : "전체선택";
    }

    document.getElementById("toAdminUserForm").addEventListener("click", toAdminUserFormPage);

    // 회원 관리 페이지로 이동하는 버튼 클릭시 실행되는 메서드
    function toAdminUserFormPage() {
        location.href = "/adminUserManagement";
    }


    document.getElementById("searchButton").addEventListener("click", searchButton);

    // 조회 중복 클릭 방지하는 메서드
    function searchButton(event) {
        // 현재 시간을 가져오는 변수
        var currentTime = Date.now();

        // 파일 업로드 시간 지정 (6초)
        var delay = 2000;

        // 마지막으로 조회 버튼을 누른 시간을 가져온다.
        var adminLastCheckTime = localStorage.getItem("adminLastCheckTime");
        if (adminLastCheckTime === null) {
            adminLastCheckTime = 0;
        }

        // 현재 시간과 마지막으로 조회 버튼을 누른 시간의 차이가 지연 시간보다 작다면
        if (currentTime - adminLastCheckTime < delay) {
            alert("조회 중복 클릭을 금합니다. 2초 뒤에 다시 실행해주세요.");
            event.preventDefault();
            return false;
        }

        // 마지막으로 조회 버튼을 누른 시간을 현재 시간으로 갱신한다.
        localStorage.setItem("adminLastCheckTime", currentTime);
    }

    document.getElementById("logoutButton").addEventListener("click", toLogout);

    // 로그아웃 버튼 누를 시 로그아웃
    function toLogout(event) {
        if (confirm("로그아웃 하시겠습니까?")) {
            location.href = "/logout";
            alert("로그아웃 되었습니다. 로그인 페이지로 돌아갑니다.");
        } else {
            // 폼 제출을 막아 삭제되지 않도록
            alert("취소되었습니다");
            event.preventDefault();
            return false;
        }
    }

</script>

</html>