<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paystub.user.repository.UserMapper">

    <select id="findByUsername" resultType="com.paystub.comon.dto.request.LoginRequest">
        SELECT EmployeeID AS username, SocialNumber AS password, Role AS role
        FROM [User]
        WHERE EmployeeID = #{username}
    </select>

    <select id="getTotalData" resultType="com.paystub.user.dto.response.UserResponse">
        -- (Same query as before, but using [User] instead of User)
        SELECT year, month, [User].EmployeeID, ...
            FROM EmployeeSalary, [User]
        WHERE ([User].EmployeeID = #{employeeID} AND EmployeeSalary.EmployeeID = [User].EmployeeID) AND
            year = #{year} AND month = #{month}
    </select>

    <select id="findByTotal" resultType="com.paystub.comon.util.PageUtil">
        SELECT year, month
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID}
        ORDER BY year DESC, month DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="findByYear" resultType="com.paystub.comon.util.PageUtil">
        SELECT year, month
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND year = #{year}
        ORDER BY year DESC, month DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="findByMonth" resultType="com.paystub.comon.util.PageUtil">
        SELECT year, month
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND month = #{month}
        ORDER BY year DESC, month DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="findByYearAndMonth" resultType="com.paystub.comon.util.PageUtil">
        SELECT year, month
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND year = #{year} AND month = #{month}
        ORDER BY year DESC, month DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="getCountTotal" resultType="int">
        SELECT COUNT(*)
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID}
    </select>

    <select id="getCountYear" resultType="int">
        SELECT COUNT(*)
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND year = #{year}
    </select>

    <select id="getCountMonth" resultType="int">
        SELECT COUNT(*)
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND month = #{month}
    </select>

    <select id="getCountYearAndMonth" resultType="int">
        SELECT COUNT(*)
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND year = #{year} AND month = #{month}
    </select>

</mapper>
