<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <style>

        .center {
            text-align: center;
        }

        button {
            margin-top: 10px;
            width: 200px;
            height: 50px;
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class="center">
    <h1>관리자 페이지</h1>
</div>

<div class="center" style="float: left; width: 40%;">
    <img th:src="@{/img/admin.PNG}"/>
    <div>
        <a href="/admin">
            <button>급여명세서 삭제</button>
        </a>
    </div>
</div>
<div class="center" style="float:left; width: 40%">
    <img th:src="@{/img/adminUserForm.png}"/>
    <div>
        <a href="/adminUserForm">
            <button>일용직 삭제</button>
        </a>
    </div>
</div>
</body>
</html>
