<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <style>

        /* 메인테이블 스타일 */
        table {
            width: 100%;
            border-collapse: collapse;
        }


        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .margin {
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 50px;
        }

        .center {
            text-align: center;
        }

        /* 에러 메시지 스타일 */
        .error {
            color: red;
        }

        /* 스크롤 이용 시 첫번째 셀 고정 */
        .sticky{
            background-color: lightgray;
            position: sticky;
            top: 0px;
            white-space: nowrap;
        }

    </style>
</head>
<body>

<!--년, 월, 이름, 사번을 정보를 조회하는 폼-->
<div style="float: left;" class="margin">
    <h3>조회할 정보를 입력해주세요.</h3>
    <form method="GET" action="/admin">
        <select id="year" th:name="year" th:value="${year}">
            <option value="9999">전체</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select> <span>년</span>
        <select id="month" th:name="month" th:value="${month}">
            <option value="0">전체</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select> <span>월</span>
        <h5>이름 : <input id="name" name="name" size=10> 사번 : <input id="employeeID" name="employeeID" size=10><span style="padding-left:20px;"><button>조회</button></span></h5>
        <div th:if="${searchErrors}" class="error">
            <ul>
                <li th:each="error : ${searchErrors}">
                    <p th:text="${error}"></p>
                </li>
            </ul>
        </div>
    </form>
</div>

<!--파일 업로드 하는 폼-->
<div style="float:right" class="margin">
    <h3>급여 정보 엑셀 파일을 업로드 해주세요.</h3>

    <div id="error" th:if="${errors}" class="error">
        <ul>
            <li th:each="error : ${errors}">
                <p th:text="${error}"></p>
            </li>
        </ul>
    </div>
    <!-- 파일 업로드 -->
    <form method="POST" action="/admin" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <input type="submit" id="submitButton" value="Upload">
    </form>
</div>

<form method="POST" action="/adminDeleteSalary">
    <div style="width: 100%; height: 600px; overflow: auto" class="center">
        <table>
            <thead>
            <tr>
                <th class="sticky" >선택</th>
                <th class="sticky">사번</th>
                <th class="sticky">근무자 이름</th>
                <th class="sticky">년도</th>
                <th class="sticky">월</th>
                <th class="sticky">생일</th>
                <th class="sticky">기본수당</th>
                <th class="sticky">주휴수당</th>
                <th class="sticky">중식비 - 지급</th>
                <th class="sticky">주휴수당(첫째주)</th>
                <th class="sticky">주휴수당(소급분)</th>
                <th class="sticky">지급합계</th>
                <th class="sticky">소득세</th>
                <th class="sticky">주민세</th>
                <th class="sticky">고용보험</th>
                <th class="sticky">국민연금</th>
                <th class="sticky">건강보험</th>
                <th class="sticky">노인요양</th>
                <th class="sticky">고용보험(소급공제)</th>
                <th class="sticky">국민연금(소급공제)</th>
                <th class="sticky">건강보험(소급공제)</th>
                <th class="sticky">노인요양(소급공제)</th>
                <th class="sticky">공제합계</th>
                <th class="sticky">실지급액</th>
                <th class="sticky">총 근로일수</th>
                <th class="sticky">총근무시간</th>
                <th class="sticky">주휴산정시간</th>
                <th class="sticky">주휴산정시간(소급분)</th>
                <th class="sticky">시급</th>
                <th class="sticky">중식비</th>
                <th class="sticky">이메일주소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="response : ${responseDtos}">

                <td><input type="checkbox" name="salaryKeys" th:value="${response.EmployeeID + '_' + response.year + '_' + response.month}"></td>
                <td th:text="${response.EmployeeID}"></td>
                <td th:text="${response.Name}"></td>
                <td th:text="${response.year}"></td>
                <td th:text="${response.month}"></td>
                <td th:text="${response.birthday.substring(0,4) + '.' + response.birthday.substring(4,6) + '.' + response.birthday.substring(6)}"></td>
                <td th:text="${#numbers.formatInteger(response.BasicSalary, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.HolidayAllowance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.LunchExpenses, 3, 'COMMA')}"></td>

                <td th:text="${#numbers.formatInteger(response.FirstWeekHolidayAllowance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.RetroactiveHolidayAllowance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.TotalPayment, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.IncomeTax, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.ResidentTax, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.EmploymentInsurance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.NationalPension, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.HealthInsurance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.ElderlyCareInsurance, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.EmploymentInsuranceDeduction, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.NationalPensionDeduction, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.HealthInsuranceDeduction, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.ElderlyCareInsuranceDeduction, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.DeductionTotal, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.NetPayment, 3, 'COMMA')}"></td>

                <td th:text="${response.TotalWorkDays}"></td>
                <td th:text="${response.TotalWorkingHours}"></td>
                <td th:text="${response.HolidayCalculationHours}"></td>
                <td th:text="${response.OvertimeCalculationHours}"></td>
                <td th:text="${#numbers.formatInteger(response.HourlyWage, 3, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(response.LunchAllowance, 3, 'COMMA')}"></td>
                <td th:text="${response.EmailAddress}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button id="deleteButton" type="submit" style="width: 200px; height: 40px;">삭제</button>
</form>
<div>
</div>
</body>

<script>
    document.getElementById("deleteButton").addEventListener("click", clickButton);

    function clickButton(){
        if (confirm("삭제하시겠습니까?")){
            alert("삭제되었습니다");
        }
        else{
            alert("취소되었습니다"); //취소시 이벤트 처리
        }
    }

    if (errors.length > 0) {
        document.getElementById('showErrors').style.display = 'block';
    }
</script>
</html>