<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .margin {
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 50px;
        }

        .center {
            text-align: center;
        }

        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class="center">
    <h1>관리자 페이지</h1>
</div>
<div style="float:left" class="margin">
    <h3>급여 정보 엑셀 파일을 업로드 해주세요.</h3>
    <div th:if="${errors}" class="error">
        <ul>
            <li th:each="error : ${errors}">
                <p th:text="${error}"></p>
            </li>
        </ul>
    </div>
    <!-- 파일 업로드 -->
    <form method="POST" action="/admin" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <input type="submit" id="submitButton" value="Upload">
    </form>
</div>
<div style="float: right;" class="margin">
    <h3>조회할 년도와 월을 선택해주세요.</h3>
    <form method="GET" action="/admin">
        <select id="year" th:name="year" th:value="${year}">
            <option value="9999">전체</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select> <span>년</span>
        <select id="month" th:name="month" th:value="${month}">
            <option value="0">전체</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select> <span>월</span>
        <button>조회</button>
    </form>
</div>

<div style="width: 100%; height: 500px; overflow: auto" class="center">
    <table>
        <thead>
        <tr>
            <th>선택</th>
            <th>일용직 근무자 사번</th>
            <th>이름</th>
            <th>근무년도</th>
            <th>근무 월</th>
            <th>생일</th>
            <th>기본수당</th>
            <th>주휴수당</th>
            <th>중식비 - 지급</th>
            <th>주휴수당(첫째주)</th>
            <th>주휴수당 (소급분)</th>
            <th>지급합계</th>
            <th>소득세</th>
            <th>주민세</th>
            <th>고용보험</th>
            <th>국민연금</th>
            <th>건강보험</th>
            <th>노인요양</th>
            <th>고용보험(소급공제)</th>
            <th>국민연금(소급공제)</th>
            <th>건강보험(소급공제)</th>
            <th>노인요양(소급공제)</th>
            <th>공제합계</th>
            <th>실지급액</th>
            <th>총 근로일수</th>
            <th>총근무시간</th>
            <th>주휴산정시간</th>
            <th>주휴산정시간(소급분)</th>
            <th>시급</th>
            <th>중식비</th>
            <th>이메일주소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="response : ${responseDtos}">
            <td><input type="checkbox" id="checkbox"></td>
            <td th:text="${response.EmployeeID}"></td>
            <td th:text="${response.Name}"></td>
            <td th:text="${response.year}"></td>
            <td th:text="${response.month}"></td>
            <td th:text="${response.birthday}"></td>
            <td th:text="${response.BasicSalary}"></td>
            <td th:text="${response.HolidayAllowance}"></td>
            <td th:text="${response.LunchExpenses}"></td>
            <td th:text="${response.FirstWeekHolidayAllowance}"></td>
            <td th:text="${response.RetroactiveHolidayAllowance}"></td>
            <td th:text="${response.TotalPayment}"></td>
            <td th:text="${response.IncomeTax}"></td>
            <td th:text="${response.ResidentTax}"></td>
            <td th:text="${response.EmploymentInsurance}"></td>
            <td th:text="${response.NationalPension}"></td>
            <td th:text="${response.HealthInsurance}"></td>
            <td th:text="${response.ElderlyCareInsurance}"></td>
            <td th:text="${response.EmploymentInsuranceDeduction}"></td>
            <td th:text="${response.NationalPensionDeduction}"></td>
            <td th:text="${response.HealthInsuranceDeduction}"></td>
            <td th:text="${response.ElderlyCareInsuranceDeduction}"></td>
            <td th:text="${response.DeductionTotal}"></td>
            <td th:text="${response.NetPayment}"></td>
            <td th:text="${response.TotalWorkDays}"></td>
            <td th:text="${response.TotalWorkingHours}"></td>
            <td th:text="${response.HolidayCalculationHours}"></td>
            <td th:text="${response.OvertimeCalculationHours}"></td>
            <td th:text="${response.HourlyWage}"></td>
            <td th:text="${response.LunchAllowance}"></td>
            <td th:text="${response.EmailAddress}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <button>삭제</button>
</div>
</body>
</html>