<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <style>
        button {
            background-color: aliceblue;
            width: 200px;
            height: 40px;
            border-width: 1px;
            padding-top: 1px;
            margin-top: 40px;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="center">
    <h1>관리자 페이지</h1>
    <h3>급여 정보 엑셀 파일을 업로드 해주세요.</h3>
    <!-- 파일 업로드 -->
    <form method="POST" action="/admin" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <input type="submit" id="submitButton" value="Upload">
    </form>
</div>

</body>
</html>