<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Salary</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>일용직 근무자 사번</th>
        <th>기본수당</th>
        <th>주휴수당</th>
        <th>중식비 - 지급</th>
        <th>주휴수당(첫째주)</th>
        <th>주휴수당 (소급분)</th>
        <th>지급합계</th>
        <th>소득세</th>
        <th>주민세</th>
        <th>고용보험</th>
        <th>국민연금</th>
        <th>건강보험</th>
        <th>노인요양</th>
        <th>고용보험(소급공제)</th>
        <th>국민연금(소급공제)</th>
        <th>건강보험(소급공제)</th>
        <th>노인요양(소급공제)</th>
        <th>공제합계</th>
        <th>실지급액</th>
        <th>총 근로일수</th>
        <th>총근무시간</th>
        <th>주휴산정시간</th>
        <th>주휴산정시간(소급분)</th>
        <th>시급</th>
        <th>중식비</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.employeeSalaryDto.EmployeeID}"></td>
        <td th:text="${employee.employeeSalaryDto.BasicSalary}"></td>
        <td th:text="${employee.employeeSalaryDto.HolidayAllowance}"></td>
        <td th:text="${employee.employeeSalaryDto.LunchExpenses}"></td>
        <td th:text="${employee.employeeSalaryDto.FirstWeekHolidayAllowance}"></td>
        <td th:text="${employee.employeeSalaryDto.RetroactiveHolidayAllowance}"></td>
        <td th:text="${employee.employeeSalaryDto.TotalPayment}"></td>
        <td th:text="${employee.employeeSalaryDto.IncomeTax}"></td>
        <td th:text="${employee.employeeSalaryDto.ResidentTax}"></td>
        <td th:text="${employee.employeeSalaryDto.EmploymentInsurance}"></td>
        <td th:text="${employee.employeeSalaryDto.NationalPension}"></td>
        <td th:text="${employee.employeeSalaryDto.HealthInsurance}"></td>
        <td th:text="${employee.employeeSalaryDto.ElderlyCareInsurance}"></td>
        <td th:text="${employee.employeeSalaryDto.EmploymentInsuranceDeduction}"></td>
        <td th:text="${employee.employeeSalaryDto.NationalPensionDeduction}"></td>
        <td th:text="${employee.employeeSalaryDto.HealthInsuranceDeduction}"></td>
        <td th:text="${employee.employeeSalaryDto.ElderlyCareInsuranceDeduction}"></td>
        <td th:text="${employee.employeeSalaryDto.DeductionTotal}"></td>
        <td th:text="${employee.employeeSalaryDto.NetPayment}"></td>
        <td th:text="${employee.employeeSalaryDto.TotalWorkDays}"></td>
        <td th:text="${employee.employeeSalaryDto.TotalWorkingHours}"></td>
        <td th:text="${employee.employeeSalaryDto.HolidayCalculationHours}"></td>
        <td th:text="${employee.employeeSalaryDto.OvertimeCalculationHours}"></td>
        <td th:text="${employee.employeeSalaryDto.HourlyWage}"></td>
        <td th:text="${employee.employeeSalaryDto.LunchAllowance}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
