<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <style>
        button {
            background-color: aliceblue;
            width: 200px;
            height: 40px;
            border-width: 1px;
            padding-top: 1px;
            margin-top: 40px;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="title" class="center">
    <h1>관리자 페이지</h1>
    <h3>급여 정보 엑셀 파일을 업로드 해주세요.</h3>

    <!-- 파일 업로드 -->
    <form method="POST" action="/upload" enctype="multipart/form-data" class="center">
        <input type="file" id="file" name="file">
        <input type="submit" id="submitButton" value="Upload">
    </form>
</div>
<script>

    // 제출 버튼 클릭 시 제출 함수 호출
    document.getElementById("submitButton").addEventListener("click", submitForm);

    // 제출 함수
    function submitForm() {

        // 업로드 된 파일을 가져옴
        const fileInput = document.getElementById('file');
        const excelFile = fileInput.files[0];

        // 엑셀 파일 유무 체크
        if (!excelFile) {
            alert("엑셀 파일을 업로드해주세요.");
        } else{

            // 업로드한 파일의 확장자가 .xlsm && .xlsx 인지 체크
            fileName = excelFile.name;
            if (!fileName.toLowerCase().endsWith(".xlsm") && !fileName.toLowerCase().endsWith(".xlsx")) {
                alert("엑셀 파일만 업로드 가능합니다.");
            } else{
                alert("성공적으로 제출되었습니다");
            };
        }
    }
</script>

</body>
</html>