<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 페이지</title>
    <style>

        /* 메인테이블 스타일 */
        .mainTable {
            border-collapse: collapse;
            width: 350mm;
            height: 150mm;
            margin: auto; /* 중앙 정렬 */
            white-space: nowrap;
        }

        /* 지급금액 테이블 스타일 */
        .payTable {
            border-collapse: collapse;
            width: 280mm;
            height: 60mm;
            margin: auto;
            white-space: nowrap;
            transform: translateX(-135px);
        }

        /* 공제금액 테이블 스타일 */
        .deductTable {
            border-collapse: collapse;
            width: 280mm;
            height: 70mm;
            margin: auto;
            white-space: nowrap;
            transform: translateX(-135px);
        }

        /* 숨겨야할 셀 스타일 */
        .hide {
            border: 1px white;
        }

        th, td {
            border: 0.5px solid black;
            padding: 5px 5px;
            text-align: center;
            width: 180px;
            height: 1px;
        }

        /* 중앙 정렬 */
        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        /* 텍스트 여백을 두어 테이블 간 거리 간격 조정 */
        .textMargin {
            margin-top: 50px;
            text-align: center;
            transform: translateX(-580px);
        }

        /* 각 테이블의 첫번째 Tr에만 해당하는 스타일 */
        .firstTr {
            background-color: rgb(192, 192, 192);
            font-weight: 1000;
        }

        /* 화면 여백 */
        .padding {
            padding: 80px 40px 40px 40px;
        }

        /* 사진 스타일 */
        .img {
            text-align: right;
            margin-top: 90px;

        }

    </style>
</head>

<!--pdf 변환 및 다운 관련-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

<body th:each="totalData : ${totalData}">

<!--pdf 변환시 영역 시작-->
<div id = "start" class="report" >
    <div class="padding">
        <div class="center">
            <h2>일용근로자 급여 지급명세서 (<span id="year" th:text="${totalData.year}"></span>년 <span id="month" th:text="${totalData.month}"></span>월 귀속)</h2>
            <h4>회사명: 나이스디앤알(주)</h4>
            <h4>사번: <span id="employeeID"th:text="${totalData.employeeID}"></span><span style="padding-left:200px;"></span>성명: <span id="name" th:text="${totalData.name}"></span></h4>
            <h4>생년월일: <span th:text="${totalData.birthday.substring(0,4) + '-' + totalData.birthday.substring(4,6) + '-' + totalData.birthday.substring(6)}"></span><span style="padding-left:150px;"></span>지급일: <span th:text="${payDay}"></span></h4>
        </div>

        <!-- 메인 테이블 -->
        <table id="mainTable" class="mainTable">
            <tr class="firstTr">
                <td>지급</td>
                <td></td>
                <td>공제</td>
                <td></td>
                <td>근태</td>
                <td></td>
            </tr>
            <tr>
                <td>항목</td>
                <td>금액</td>
                <td>항목</td>
                <td>금액</td>
                <td>항목</td>
                <td>내용</td>
            </tr>
            <tr>
                <td>기본수당</td>
                <td th:text="${#numbers.formatDecimal(totalData.basicSalary, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>소득세</td>
                <td th:text="${#numbers.formatDecimal(totalData.incomeTax, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>총근로일수</td>
                <td th:text="${totalData.totalWorkDays}" class="right"></td>
            </tr>
            <tr>
                <td>주휴수당</td>
                <td th:text="${#numbers.formatDecimal(totalData.holidayAllowance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>주민세</td>
                <td th:text="${#numbers.formatDecimal(totalData.residentTax, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>총근무시간</td>
                <td th:text="${totalData.totalWorkingHours}" class="right"></td>
            </tr>
            <tr>
                <td>중식비</td>
                <td th:text="${#numbers.formatDecimal(totalData.lunchExpenses, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>고용보험</td>
                <td th:text="${#numbers.formatDecimal(totalData.employmentInsurance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>주휴산정시간</td>
                <td th:text="${totalData.holidayCalculationHours}" class="right"></td>
            </tr>
            <tr>
                <td>주휴수당(첫째주)</td>
                <td th:text="${#numbers.formatDecimal(totalData.firstWeekHolidayAllowance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>국민연금</td>
                <td th:text="${#numbers.formatDecimal(totalData.nationalPension, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>주휴산정시간(소급)</td>
                <td th:text="${totalData.overtimeCalculationHours}" class="right"></td>
            </tr>
            <tr>
                <td>주휴수당(소급분)</td>
                <td th:text="${#numbers.formatDecimal(totalData.retroactiveHolidayAllowance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>건강보험</td>
                <td th:text="${#numbers.formatDecimal(totalData.healthInsurance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>노인요양</td>
                <td th:text="${#numbers.formatDecimal(totalData.elderlyCareInsurance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>고용보험(소급공제)</td>
                <td th:text="${#numbers.formatDecimal(totalData.employmentInsuranceDeduction, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>국민연금(소급공제)</td>
                <td th:text="${#numbers.formatDecimal(totalData.nationalPensionDeduction, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>건강보험(소급공제)</td>
                <td th:text="${#numbers.formatDecimal(totalData.healthInsuranceDeduction, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>노인요양(소급공제)</td>
                <td th:text="${#numbers.formatDecimal(totalData.elderlyCareInsuranceDeduction, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>지급합계</td>
                <td th:text="${#numbers.formatDecimal(totalData.totalPayment, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td>공제합계</td>
                <td th:text="${#numbers.formatDecimal(totalData.deductionTotal, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <!-- 보이지 않게 되어있는 td는 hide 클래스 처리 -->
                <td class="hide"></td>
                <td class="hide" ></td>
                <td>실 지급액</td>
                <td th:text="${#numbers.formatDecimal(totalData.netPayment, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
                <td class="hide"></td>
                <td class="hide"></td>
            </tr>
        </table>

        <!-- 지급금액 산출내역 테이블 -->
        <h3 class="textMargin">[지급금액 산출내역]</h3>
        <table id="payment" class="payTable">
            <tr class="firstTr">
                <td>지급내역</td>
                <td colspan="6">산출내역</td>
                <td>금액</td>
            </tr>
            <tr>
                <td>기본수당</td>
                <td colspan="6"><span th:text="${totalData.hourlyWage}"></span> 원 * 근로시간</td>
                <td th:text="${#numbers.formatDecimal(totalData.basicSalary, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
            <tr>
                <td>주휴수당</td>
                <td colspan="6"><span th:text="${totalData.hourlyWage}"></span> 원 * 주휴시간</td>
                <td th:text="${#numbers.formatDecimal(totalData.holidayAllowance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
            <tr>
                <td>중식비</td>
                <td colspan="6">       원 * 근무일수</td>
                <td th:text="${#numbers.formatDecimal(totalData.lunchExpenses, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
            <tr>
                <td>주휴수당(첫째주)</td>
                <td colspan="6"><span th:text="${totalData.hourlyWage}"></span> 원 * 주휴시간</td>
                <td th:text="${#numbers.formatDecimal(totalData.firstWeekHolidayAllowance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
            <tr>
                <td>주휴수당(소급분)</td>
                <td colspan="6"><span th:text="${totalData.hourlyWage}"></span> 원 * 주휴시간</td>
                <td th:text="${#numbers.formatDecimal(totalData.retroactiveHolidayAllowance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
        </table>

        <!-- 공제금액 산출내역 -->
        <h3 class="textMargin">[공제금액 산출내역]</h3>
        <table id="deduction" class="deductTable">
            <tr class="firstTr">
                <td>공제내역</td>
                <td colspan="2">산출내역</td>
                <td>금액</td>
            </tr>
            <tr>
                <td>소득세</td>
                <td colspan="2">간이세액표 참조</td>
                <td th:text="${#numbers.formatDecimal(totalData.incomeTax, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
            <tr>
                <td>주민세</td>
                <td colspan="2">소득세 * 0.1000</td>
                <td th:text="${#numbers.formatDecimal(totalData.residentTax, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
            <tr>
                <td>고용보험</td>
                <td colspan="2">과세총액 * 0.0090</td>
                <td th:text="${#numbers.formatDecimal(totalData.employmentInsurance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
            <tr>
                <td>국민연금</td>
                <td colspan="2">과세총액 * 0.0450</td>
                <td th:text="${#numbers.formatDecimal(totalData.nationalPension, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
            <tr>
                <td>건강보험</td>
                <td colspan="2">과세총액 * 0.03545</td>
                <td th:text="${#numbers.formatDecimal(totalData.healthInsurance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
            <tr>
                <td>노인요양보험</td>
                <td colspan="2">건강보험 * 0.1281</td>
                <td th:text="${#numbers.formatDecimal(totalData.elderlyCareInsurance, 1, 'COMMA', 0, 'POINT')}" class="right"></td>
            </tr>
        </table>

        <div class="img" >
            <img th:src="@{/img/nice.PNG}"/>
        </div>

        <!--        pdf 변환시 영역 끝-->
        <div id="end" class="report"></div>

    </div>
</div>


<div class="center">
    <!--    pdf 다운 버튼-->
    <button type="button" id="pdf" style="width: 200px; height: 40px;">pdf 다운</button>
</div>

<script type="text/javascript">

    //전체영역 area
    let all_area_array = ['#start','#end'];

    //pdf 다운 영역
    let area_array = ['#start', '#end'];

    $('#pdf').on("click", function () {
        let difference = all_area_array.filter(x => !area_array.includes(x));

        $.each(difference,function(index, item){
            $(item).attr('data-html2canvas-ignore', true);
        });
        setTimeout(pdfMake(),500);
    });

    const pdfMake = () => {
        html2canvas($('.report')[0]).then(function(canvas) {
            let imgData = canvas.toDataURL('image/png');

            // 이미지 가로 길이(mm) A4 기준
            let imgWidth = 210;

            // 출력 페이지 세로 길이 계산 A4 기준
            let pageHeight = imgWidth * 1.414;
            let imgHeight = canvas.height * imgWidth / canvas.width;
            let heightLeft = imgHeight;

            let doc = new jsPDF('p', 'mm');
            let position = 0;

            // 첫 페이지 출력
            doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
            heightLeft -= pageHeight;

            const year = document.getElementById('year').textContent;
            const month = document.getElementById('month').textContent;
            const employeeID = document.getElementById('employeeID').textContent;
            const name = document.getElementById('name').textContent;

            // 파일 저장
            doc.save(year + '년_' + month + '월_' + employeeID + '_' + name + '_급여명세서.pdf');

        });
    }
</script>

</body>
</html>