<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    ajax 요청-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>관리자 페이지</title>
    <style>

        /* 메인테이블 스타일 */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .center {
            text-align: center;
        }

        .margin {
            margin-top: 50px;
            text-align: center;
        }

    </style>
</head>
<body>

<div class="center">
    <h1>사용자 페이지</h1>
</div>

<!--년도와 월을 선택받아 조회하는 테이블-->
<div class="center">
    <h3>조회할 년도와 월을 선택해주세요.</h3>
    <select id="year" th:name="year" th:value="${year}">
        <option value="9999">전체</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
    </select> <span>년</span>
    <select id="month" th:name="month" th:value="${month}">
        <option value="0">전체</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select> <span>월</span>
    <button id="searchButton">조회</button>
</div>

<!--페이징 처리 결과 데이터가 나오는 영역-->
<div id="dataList" class="margin"></div>

<!--페이지 이전, 다음 버튼-->
<div id="pagination" class="margin">
    <button id="prevPage">이전</button>
    <span id="currentPage">1</span>/<span id="totalPages"></span>
    <button id="nextPage">다음</button>
</div>
</body>

<script th:inline="javascript">

    document.getElementById("searchButton").addEventListener("click", clickButton);

    // 조회 버튼 클릭시 실행되는 메서드
    function clickButton() {
        const year = document.getElementById("year").value;
        const month = document.getElementById("month").value;

        // 날짜 조회시 로드되는 메서드
        getTotalPage(year, month);

    }

    // 페이징 처리를 위해 변수 초기화
    var currentPage = 0; // 현재 페이지
    var totalPages = 0; // 전체 페이지 수
    var offset = 0;

    // 날짜 조회시 로드되는 함수
    function getTotalPage(year, month) {
        $.ajax({
            url: "/afterSelect",
            type: "GET",
            data: { year: year, month: month, offset: offset },
            dataType: "json",
            success: function(response) {
                if(response) {
                    var dataListHtml = "";
                    response.yearAndMonth.forEach(function(item) {
                        // user.html 페이지로 이동하고, 년도와 월을 파라미터로 전달하는 링크 생성
                        dataListHtml += '<h4><a href="/user?year=' + item.year + '&month=' + item.month + '"><span>' + item.year + '</span>년 <span>' + item.month + '</span>월</a></h4>';
                    });
                    $('#dataList').html(dataListHtml);

                    // 전체 페이지 수 설정
                    totalPages = response.totalPages;

                    $('#totalPages').text(totalPages);

                    // 현재 페이지 표시
                    $('#currentPage').text(currentPage + 1);
                } else {
                    alert("불러오기 실패");
                }
            }
        });
    }

    // 이전 페이지 버튼 클릭 이벤트
    $("#prevPage").click(function() {
        if(currentPage > 0) {
            currentPage--;
            console.log(currentPage);
            getTotalPage($('#year').val(), currentPage);
        }
    });

    // 다음 페이지 버튼 클릭 이벤트
    $("#nextPage").click(function() {
        if(currentPage < totalPages - 1) {
            currentPage++;
            console.log(currentPage);
            getTotalPage($('#year').val(), currentPage);
        }
    });

</script>
</html>