<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paystub.admin.repository.EmployeeSalaryMapper">
    <insert id="insertEmployeeSalaryDto">

        INSERT INTO EmployeeSalary (
        `year`, `month`, EmployeeID, BasicSalary, HolidayAllowance, LunchExpenses,
        FirstWeekHolidayAllowance, RetroactiveHolidayAllowance, TotalPayment,
        IncomeTax, ResidentTax, EmploymentInsurance, NationalPension,
        HealthInsurance, ElderlyCareInsurance, EmploymentInsuranceDeduction,
        NationalPensionDeduction, HealthInsuranceDeduction, ElderlyCareInsuranceDeduction,
        DeductionTotal, NetPayment, TotalWorkDays, TotalWorkingHours,
        HolidayCalculationHours, OvertimeCalculationHours, HourlyWage, LunchAllowance
        )
        VALUES (
        #{year}, #{month}, #{EmployeeID}, #{BasicSalary}, #{HolidayAllowance}, #{LunchExpenses},
        #{FirstWeekHolidayAllowance}, #{RetroactiveHolidayAllowance}, #{TotalPayment},
        #{IncomeTax}, #{ResidentTax}, #{EmploymentInsurance}, #{NationalPension},
        #{HealthInsurance}, #{ElderlyCareInsurance}, #{EmploymentInsuranceDeduction},
        #{NationalPensionDeduction}, #{HealthInsuranceDeduction}, #{ElderlyCareInsuranceDeduction},
        #{DeductionTotal}, #{NetPayment}, #{TotalWorkDays}, #{TotalWorkingHours},
        #{HolidayCalculationHours}, #{OvertimeCalculationHours}, #{HourlyWage}, #{LunchAllowance}
        )
    </insert>

    <select id="findSalaryByYearMonthAndEmployeeID" resultType="com.paystub.admin.dto.EmployeeSalaryDao">
        SELECT * FROM EmployeeSalary
        WHERE year = #{year} AND month = #{month} AND EmployeeID = #{EmployeeID}
    </select>

</mapper>
