<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paystub.repository.UserMapper">
    <insert id="insertUser">
        INSERT INTO User (EmployeeID, Name, State, Role, birthday, SocialNumber, EmailAddress)
        VALUES (#{EmployeeID}, #{Name}, #{State}, #{Role}, #{birthday}, #{SocialNumber}, #{EmailAddress})
    </insert>

    <select id="findByUsername" resultType="com.paystub.dto.LoginFormDto">
        SELECT EmployeeID AS username, SocialNumber AS password, Role AS role
        FROM User
        WHERE EmployeeID = #{username}
    </select>

<!--    EmployeeSalary와 User 테이블을 조인하여 사용자의 해당 년, 월 데이터를 가져온다.-->
    <select id="getTotalData" resultType="com.paystub.dto.UserFormDto">
        SELECT year, month, User.EmployeeID, BasicSalary, HolidayAllowance, LunchExpenses, FirstWeekHolidayAllowance, RetroactiveHolidayAllowance, TotalPayment, IncomeTax,
                ResidentTax, EmploymentInsurance, NationalPension, HealthInsurance, ElderlyCareInsurance, EmploymentInsuranceDeduction, NationalPensionDeduction,
                HealthInsuranceDeduction, ElderlyCareInsuranceDeduction, DeductionTotal, NetPayment, TotalWorkDays, TotalWorkingHours, HolidayCalculationHours,
                OvertimeCalculationHours, HourlyWage, Name, birthday
        FROM EmployeeSalary, User
        WHERE (User.EmployeeID = #{employeeID} AND EmployeeSalary.EmployeeID = User.EmployeeID) AND
                                 year = #{year} AND month = #{month}

    </select>

    <select id="findByEmployeeIDAndName" resultType="com.paystub.dto.UserDto">
        SELECT * FROM User
        WHERE EmployeeID = #{EmployeeID} AND Name = #{Name}
    </select>

    <select id="findByEmployeeID" resultType="com.paystub.dto.UserDto">
        SELECT * FROM User
        WHERE EmployeeID = #{EmployeeID}
    </select>


    <select id="findJoinedDataByYearAndMonth" resultType="com.paystub.dto.ResponseDto">
        SELECT u.EmployeeID, u.Name, u.State, u.Role, u.birthday, u.SocialNumber, u.EmailAddress,
        e.year, e.month, e.BasicSalary, e.HolidayAllowance, e.LunchExpenses, e.FirstWeekHolidayAllowance, e.RetroactiveHolidayAllowance, e.TotalPayment,
        e.IncomeTax, e.ResidentTax, e.EmploymentInsurance, e.NationalPension, e.HealthInsurance, e.ElderlyCareInsurance, e.EmploymentInsuranceDeduction,
        e.NationalPensionDeduction, e.HealthInsuranceDeduction, e.ElderlyCareInsuranceDeduction, e.DeductionTotal, e.NetPayment, e.TotalWorkDays,
        e.TotalWorkingHours, e.HolidayCalculationHours, e.OvertimeCalculationHours, e.HourlyWage, e.LunchAllowance
        FROM User u
        JOIN EmployeeSalary e ON u.EmployeeID = e.EmployeeID
        <where>
            <if test="year != 9999">
                AND e.year = #{year}
            </if>
            <if test="month != 0">
                AND e.month = #{month}
            </if>
            <if test="name != null and name != ''">
                AND u.Name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="employeeID != null">
                AND CAST(u.EmployeeID AS CHAR) LIKE CONCAT('%', #{employeeID}, '%')
            </if>
        </where>
        ORDER BY e.year DESC, e.month DESC
    </select>

    <select id="findByYearAndMonth" resultType="com.paystub.dto.PageDto">
        SELECT year, month
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND year = #{year} AND month = #{month}
    </select>

<!--    조건 없이 사용자의 전체 년, 월 데이터를 가져온다.-->
    <select id="findByTotal" resultType="com.paystub.dto.PageDto">
        SELECT year, month
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID}
        ORDER BY year DESC, month DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>


<!--    해당 년에 맞는 사용자의 년, 월 데이터를 가져온다.-->
    <select id="findByYear" resultType="com.paystub.dto.PageDto">
        SELECT year, month
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND year = #{year}
        ORDER BY year DESC, month DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <!--    해당 월에 맞는 사용자의 년, 월 데이터를 가져온다.-->
    <select id="findByMonth" resultType="com.paystub.dto.PageDto">
        SELECT year, month
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND month = #{month}
        ORDER BY year DESC, month DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

<!--    조건 없이 사용자의 전체 데이터 갯수를 가져오는 쿼리-->
    <select id="countTotal" resultType="int">
        SELECT COUNT(*)
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID}
    </select>

<!--    해당 년에 맞는 사용자의 데이터 갯수를 가져오는 쿼리-->
    <select id="countYear" resultType="int">
        SELECT COUNT(*)
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND year = #{year}
    </select>

<!--    해당 월에 맞는 사용자의 데이터 갯수를 가져오는 쿼리-->
    <select id="countMonth" resultType="int">
        SELECT COUNT(*)
        FROM EmployeeSalary
        WHERE EmployeeSalary.EmployeeID = #{employeeID} AND month = #{month}
    </select>

    <select id="findByAdminUser" resultType="com.paystub.dto.UserDto">
        SELECT *
        FROM User
    </select>

    <delete id="deleteEmployeeSalaryByIds">
        DELETE FROM EmployeeSalary
        WHERE EmployeeID IN
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteUsersByIds">
        DELETE FROM User
        WHERE EmployeeID IN
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteEmployeeSalaryById">
        DELETE FROM EmployeeSalary
        WHERE EmployeeID = #{employeeId} AND year = #{year} AND month = #{month}
    </delete>

</mapper>

