<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paystub.repository.UserMapper">
    <insert id="insertUser">
        INSERT INTO User (EmployeeID, Name, State, Role, birthday, SocialNumber, EmailAddress)
        VALUES (#{EmployeeID}, #{Name}, #{State}, #{Role}, #{birthday}, #{SocialNumber}, #{EmailAddress})
    </insert>

    <select id="findAllUsers" resultType="com.paystub.dto.UserDto">
        SELECT * FROM User WHERE Role = 1
    </select>

    <select id="findByUsername" resultType="com.paystub.dto.LoginFormDto">
        SELECT EmployeeID AS username, SocialNumber AS password, Role AS role
        FROM User
        WHERE EmployeeID = #{username}
    </select>

    <select id="getTotalData" resultType="com.paystub.dto.UserFormDto">
        SELECT year, month, User.EmployeeID, BasicSalary, HolidayAllowance, LunchExpenses, FirstWeekHolidayAllowance, RetroactiveHolidayAllowance, TotalPayment, IncomeTax,
                ResidentTax, EmploymentInsurance, NationalPension, HealthInsurance, ElderlyCareInsurance, EmploymentInsuranceDeduction, NationalPensionDeduction,
                HealthInsuranceDeduction, ElderlyCareInsuranceDeduction, DeductionTotal, NetPayment, TotalWorkDays, TotalWorkingHours, HolidayCalculationHours,
                OvertimeCalculationHours, HourlyWage, Name, birthday
        FROM EmployeeSalary, User
        WHERE (Name = "이혜란" and EmployeeSalary.EmployeeID = User.EmployeeID)

    </select>
</mapper>

